body {
  background-image: url('../img/fundo3.jpg');
  background-size: cover;
  background-position: center;
  background-color: #18050f;
}

h1 {
  margin-bottom: 40px;
}

/* Estilize os títulos */
h1, h2, h3, h4, h5, h6 {
  color: #c90c0c; /* Cor dos títulos */
}

/* Estilize o texto normal */
p, label, span, .nav-link {
  color: #18050f; /* Cor do texto normal */
}

.social-buttons a {
  width: 150px;
  margin: 5px;
}

form {
  background-color: #27dcf3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(201, 12, 12);
}

.card-deck .card {
  margin-bottom: 20px;
}

/* Estilo para a imagem de perfil com borda iluminada */
.profile-image {
  max-width: 150%;
  border-radius: 70%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgb(201, 12, 12);
}
.profile-image-container {
  position: fixed;
  top: 100px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
  width: 200px; /* Ajuste conforme necessário */
  z-index: 1000;
}

.profile-image {
  width: 100%;
  height: auto;
}
.rainbow-text {
  background-image: linear-gradient(to right, red, orange, black, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent !important; /* Adicione !important aqui */
}
/* No seu arquivo style.css */

/* Estilize o título da seção de contato */
h2.text-center {
  font-size: 46px; /* Tamanho da fonte desejado */
}

/* Estilize o texto da seção de contato */
p.text-center {
  font-size: 30px; /* Tamanho da fonte desejado */
}


