/* styles.css */
body {
  background-image: url('../img/fundo.jpg');
  background-size: cover; /* Para cobrir toda a área do corpo */
  background-position: center; /* Para centralizar a imagem */
  background-color: #a8a4a6;
}

h1 {
  margin-bottom: 40px;
}

.social-buttons a {
  width: 150px;
  margin: 5px;
}

form {
  background-color: #04adc2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(17, 60, 224);
}

.card-deck .card {
  margin-bottom: 20px;
}
